@use '@/styles/mixins' as mixin;

.header {
  @include mixin.flex(row, center, center, nowrap, 10px);
  @include mixin.text(body-md, 600);
  position: sticky;
  width: 100dvw;
  padding: 16px;

  border-bottom: solid 1px var(--border);

  z-index: 999;

  &__nav {
    width: 100%;
    max-width: var(--ds-page-width);
  }
}
