@use '@/styles/mixins' as mixin;

.layout {
  @include mixin.flex(row, flex-start, center);
  padding: 16px;
  width: 100%;
}

.three-column {
  @include mixin.flex(row, flex-start, center);
  @include mixin.text(body-sm, 400);
  max-width: var(--ds-page-width);
  width: 100%;
}

.left {
  width: 240px;
}

.center {
  flex: 1;
}

.right {
  width: 180px;
}
