@use '@/styles/mixins' as mixin;

.wrapper {
  @include mixin.flex(row, center, space-between);
  padding: 8px;
  width: 100%;

  border-radius: 6px;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--bg-secondary);
  }
}

.card {
  @include mixin.flex(row, center, flex-start, nowrap, 6px);
  width: 100%;

  &__icon {
    @include mixin.flex(row, center, center);
    width: 32px;
    height: 32px;

    background-color: var(--primary-alpha-30);
    border: 1px solid var(--primary-alpha-70);
    border-radius: 6px;
  }

  &__body {
    @include mixin.flex(column, flex-start, center, nowrap, 2px);
    max-width: 160px;

    &__title {
      @include mixin.text(body-sm, 500);
    }

    &__url {
      @include mixin.text(body-xs, 400, var(--text-gray));
      @include mixin.ellipsis();
      width: 100%;
    }
  }
}
