@use '@/styles/mixins' as mixin;

.main {
  width: 100%;
  height: 100%;
}

.banner {
  @include mixin.flex(column, center, center);
  position: relative;

  &__title {
    @include mixin.typo(74px, 700, var(--text-black), -3px);
    padding: 40px;
    width: 100%;

    border: dashed 1px var(--border);
    text-align: center;
  }

  &__sub-title {
    @include mixin.flex(column, center, center, nowrap, 10px);
    @include mixin.typo(20px, 500, var(--text-gray), -1px);
    padding: 40px;
    width: 100%;

    border: dashed 1px var(--border);
    border-top: 0;
  }
}

.image {
  position: absolute;
  right: 50px;
  bottom: 0;
}
