@use '@/styles/mixins' as mixin;

.side-nav {
  @include mixin.flex(column, flex-start, flex-start, nowrap, 24px);

  &__tree {
    width: 100%;
    height: calc(100dvh - 258px);
    overflow-y: scroll;
  }
}
