@use '@/styles/mixins' as mixin;

.wrapper {
  @include mixin.flex(column, flex-start, flex-start, nowrap, 10px);
  padding-top: 10px;
  width: 100%;
}

.node {
  @include mixin.flex(column, flex-start, center);
  @include mixin.text(body-sm, 300, var(--text-gray));
  padding: 4px 0 4px 8px;
  width: 100%;
  min-height: 28px;

  cursor: pointer;

  &__parents {
    @include mixin.flex(row, center, space-between);
    width: 100%;
  }

  &__children {
    padding-left: 8px;
  }

  &:hover {
    color: var(--text-primary);
  }
}

.bold {
  @include mixin.text(body-sm, 400);
}
