@use '@/styles/mixins' as mixin;

.wrapper {
  @include mixin.flex(column, flex-start, flex-start, nowrap, 10px);
  padding-top: 10px;
  width: 100%;
}

.node {
  @include mixin.flex(column, flex-start, center);
  @include mixin.text(body-sm, 300, var(--text-gray));
  padding: 4px 0 4px 8px;
  width: 100%;
  min-height: 28px;

  cursor: pointer;

  &__parents {
    @include mixin.flex(row, center, space-between);
    width: 100%;
  }

  &__children {
    padding-left: 8px;
    max-height: 0;

    overflow: hidden;
    opacity: 0;
    transform: translateY(-4px);
    transition: max-height 0.35s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s ease,
      transform 0.25s ease;

    &--open {
      max-height: 1000px;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &:hover {
    color: var(--text-primary);
  }
}

.bold {
  @include mixin.text(body-sm, 400);
}
