:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f6f8fa;
  --bg-tertiary: #eaeef2;

  --text-primary: #24292f;
  --text-secondary: #57606a;
  --text-hover: #75a1d3;
  --text-black: #0d0e0f;

  --primary: #0969da;

  --border: #d0d7de;
  --disabled: #f0f2f4;
}

[data-theme='dark'] {
  --bg-primary: #0d1117;
  --bg-secondary: #161b22;
  --bg-tertiary: #21262d;

  --text-primary: #f0f6fc;
  --text-secondary: #8b949e;
  --text-black: #0d0e0f;

  --primary: #0091ff;

  --border: #30363d;
  --disabled: #1e2227;
}
