*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  color: var(--text-primary);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

input[type='text'],
input[type='password'],
textarea,
select,
button {
  font: inherit;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
